<%= stylesheet_link_tag 'user'%>
<div class="keyword">
    <div class="keyword1"></div>
    <div class="keyword2"></div>
    当前位置:
            <a href="/store">首页</a> &gt;
            <a href="/users/<%=current_user.id %>">个人中心</a> &gt;
            <a href="/groups"><%= @group.name%></a> &gt;
                新增下级</div>

<div class="content">
    <%= render :partial => "shared/user_left", :object => @user %>
 
 <div id="right">
<ul class="tab">
<li class="active">分类信息</li>
</ul>            <div class="wrap1">
<div class="public">
<% form_for @type do |f| %>
<div class="information">
<div class="info individual">
<table>
<tbody>

  <tr>
    <th class="width4">分类名称: </th>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr>
    <th></th>
    <td><input type="submit" value="保存修改" class="btn"></td>
  </tr>

</tbody>
</table>
</div>
</div>
<% end %>
</div>
<div class="wrap_bottom"></div>
</div>

            <div class="clear"></div>
            <div class="adorn_right1"></div>
            <div class="adorn_right2"></div>
            <div class="adorn_right3"></div>
            <div class="adorn_right4"></div>
        </div>
        <div class="clear"></div>
    </div>


