<div class="keyword">
    <div class="keyword1"></div>
    <div class="keyword2"></div>
    当前位置:
    <a href="/store/index">首页</a> &gt;
    注册        
</div>
<div class="content">
    <div class="module_common">
        <h2><b>请填写您的详细资料</b></h2>
        <div class="wrap">
            <div class="wrap_child">
                <div style="background: none repeat scroll 0% 0% rgb(255, 255, 255);" class="login_con">
                    <div class="login_left">
                         <% form_for  resource_name, resource,:id => "find_password_form", :url => registration_path(resource_name), :html => { :multipart => true } do |f| -%>
                           <table> 
                             <tbody>
                               <tr>
                                 <td>您的Email:</td>
                                 <td><%= f.text_field :email ,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>您的密码:</td>
                                 <td><%= f.password_field :password ,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>确认密码:</td>
                                 <td><%= f.password_field :password_confirmation,:class => "text width5" %></td>
                               </tr>
                               <tr>
                                 <td>账号名称:</td>
                                 <td><%= f.text_field :name,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>性别:</td>
                                 <td><%=f.select :sex,User::SEX_TYPE,:prompt => "请选择"%></td>
                               </tr>
                               <tr>
                                 <td>电话:</td>
                                 <td><%= f.text_field :phone ,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>QQ号码:</td>
                                 <td><%= f.text_field :QQ,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>地址:</td>
                                 <td><%= f.text_field :address,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>店铺名称:</td>
                                 <td><%= f.text_field :title,:class => "text width5"%></td>
                               </tr>
                               <tr>
                                 <td>图像:</td>
                                 <td><%= f.file_field :avatar,:class => "text width5"%></td>
                               </tr>
                               <tr class="distance">
                                 <td></td>
                                 <td><%= f.submit "立即注册",:id => "captcha1",:class => "btn" %></td>
                               </tr>
                             </tbody>
                           </table>
                          <%end%> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="color: rgb(102, 102, 102);" id="footer">
  <p>
    <a href="/store">首页</a>
  </p>
</div>

