<h1>Listing products</h1>

<% @user_products.each do |product| %>
  <tr>
    <td><%=h product.title %></td>
    <td><%=h product.description %></td>
    <td><%=h product.image_url %></td>
    <td><%=h product.price %></td>    
  </tr>
<% end %>
</table>
<%= link_to 'New product', new_product_path %>
