<div class="keyword">
    <div class="keyword1"></div>
    <div class="keyword2"></div>
    当前位置:
            <a href="/store">首页</a> &gt;
                生成订单        
</div>
<div class="flow_chart">
    <div title="选购商品" class="pos_x1 bg_a2"></div>
    <div title="完成订单信息并下单" class="pos_x2 bg_b1"></div>
    <div title="下单完成并支付" class="pos_x3 bg_c2"></div>
</div>
<form id="order_form" method="post">
<div class="content">
    <div class="module_common">
        <div class="step_main">
            <div class="main_add">
                <h4 class="add_title"><b class="ico">收货人地址</b></h4>
                
                <ul id="address_form" class="fill_in_content">
                    <li>
                        <p class="title">收货人姓名</p>
                        <p class="fill_in"><input type="text" value="<%= current_user.name%>" class="text1" id="consignee" name="consignee"><span class="field_message explain"><span class="field_notice"></span></span></p>
                    </li>
                    <li>
                        <p class="title">详细地址</p>
                        <p class="fill_in"><input type="text" value="<%= current_user.address%>" class="text1 width1" id="address" name="address"><span class="field_message explain"><span class="field_notice"></span></span></p>
                    </li>
                    <li>
                        <p class="title">电子邮箱</p>
                        <p class="fill_in"><input type="text"  value="<%= current_user.email%>" class="text1" id="zipcode" name="zipcode"><span class="field_message explain"><span class="field_notice">电子邮箱联系</span></span></p>
                    </li>
                    <li>
                        <p class="title">电话号码</p>
                        <p class="fill_in"><input type="text"  value="<%= current_user.phone%>" class="text1" id="phone_tel" name="phone_tel"><span class="field_message explain"><span class="field_notice">手机联系</span></span></p>
                    </li>
                    <li>
                        <p class="title">QQ号码</p>
                        <p class="fill_in"><input type="text"  value="<%= current_user.QQ%>"class="text1" name="phone_mob" id="phone_mob"><span class="field_message explain"><span class="field_notice">QQ网上联系</span></span></p>
                    </li>
                </ul>
 
                <% form_for :order, :url => { :action => :save_order } do |form| %>
                 <h4 class="add_title"><b class="ico">选择付款方式</b></h4>
                   <div class="fashion_list">
                        <ul shipping_id="815" class="receive_add">
                        <li>     
                          <div>
                            <%=
                              form.select :pay_type,
                              Order::PAYMENT_TYPES,
                              :prompt => "请选择一种付款方式"
                            %>
                          </div>
                        </li>
                    </ul>
                   </div>               
                    <h4 class="add_title"><b class="ico">给卖家的附言</b></h4>
                    <div class="message">
                      <textarea name="order[message]"  id="postscript">选填，可以告诉卖家您对商品的特殊需求，如颜色、尺码等</textarea>
                    </div>   
                    <td>
                      <%= form.hidden_field :user_id, :value => current_user.id %>
                    </td>
                    <td>
                      <%= form.hidden_field :total_price, :value => @cart.total_price %>
                    </td>
                    
                    <%= submit_tag "Place Order" , :class => "btn" %>
                  </fieldset>
                <% end %>
                <h4 class="add_title"><b class="ico">选择配送方式</b></h4>
                <div class="fashion_list">
                                        <ul shipping_id="815" class="receive_add">
                        <li class="radio"><input type="radio" value="815" name="shipping_id"></li>
                        <li class="fashion">BABY 巧妙屋</li>
                        <li class="pay">配送费用:&nbsp;<span ectype="shipping_fee" class="money">￥25.00</span></li>
                        <li class="explain">惠州市区外采用快递方式送货</li>
                    </ul>
                   </div>               
                <h4 class="add_title"><b class="ico">给卖家的附言</b></h4>
                <div class="message">
                    <textarea onclick="postscript_activation(this);" id="postscript">选填，可以告诉卖家您对商品的特殊需求，如颜色、尺码等</textarea>
                </div>                <div class="make_sure">
                    <p>订单总价:&nbsp;<strong id="order_amount" class="fontsize3">￥124.00</strong></p>
                    <p>
                        <a class="btn" name= "commit" >下单完成并支付</a>
                        <a class="back" href="/store/cart">返回购物车</a>
                    </p>
                </div>            </div>
            <div class="sidelist">
                <h4 class="add_title"><b class="ico">已选商品</b></h4>
                <dl class="article">
                  <% @cart.items.each do |item|%>
                    <dt>店铺:&nbsp;<a target="_blank" href=""><%= User.find(item.product.user_id).name%></a></dt>
                      <dd>
                        <p>
                          <a target="_blank" href="">
                            <img width="65" height="65" alt="<%= item.product.title%>" src="<%= item.product.image.url%>">
                          </a>
                        </p>
                        <h3>
                            <a href="" target="_blank">
                              <%= item.product.title%> 
                            </a>
                            <span class="attr"></span>
                            <b><%= item.quantity%>件&nbsp;=&nbsp;<span class="money">￥<%= item.price%></span></b>
                        </h3>
                      </dd>
                    <%end%>
                  </dl>            
                  </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</form>
<div style="color: rgb(102, 102, 102);" id="footer">
  <p>
    <a href="/store">首页</a>
  </p>
</div>


<div class="depot-form">
  <%= error_messages_for 'order' %>
  
  <% form_for :order, :url => { :action => :save_order } do |form| %>
    <fieldset>
      <legend>Please Enter Your Details</legend>
      <div>
        <tr>
          <td>Name:<%= current_user.name%> </td>
          <td>Email:<%= current_user.email%></td>
          <td>QQ:<%= current_user.QQ%></td>
          <td>Phone:<%= current_user.phone%> </td>
          <td>address:<%= current_user.address%></td>
        </tr> 
      </div>
      <td>Total_price:<%= @cart.total_price %></td> 
      <div>
        <%= form.label :pay_type, "Pay with:" %>
        <%=
        form.select :pay_type,
          Order::PAYMENT_TYPES,
          :prompt => "Select a payment method"
      %>
      </div>
      <div>
        <%= form.label :message , "Message:" %>
        <%= form.text_area :message, :rows => 3, :cols => 40 %>
      </div>
      <td>
        <%= form.hidden_field :user_id, :value => current_user.id %>
      </td>
      <td>
        <%= form.hidden_field :total_price, :value => @cart.total_price %>
      </td>
      
      <%= submit_tag "Place Order" , :class => "submit" %>
    </fieldset>
  <% end %>
</div>

 
