<div class="content">
  <div class="left">
    <div class="module_sidebar">
      <h2><b>商品分类</b></h2>
      <div class="wrap">
        <div class="wrap_child">
          <div class="side_textlist">
            <ul ectype="ul_category">
              <li><%= @type.name %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="shop_con_list">
       <div ectype="current_display_mode" class="squares">
          <ul class="list_pic">
            <% @products.each do |product| %>
            <li>
              <p>
                <%= link_to image_tag(product.image.url), user_product_path(product.user_id,product) %>
              </p>
              <h3>
                <span class="text_link">
                  <span class="depict">
                    <a target="_blank" href="index.php?app=goods&amp;id=18725"><%= product.title %></a>
                  </span>
                  <span class="info">
                    <span>店铺名称: <%= product.user.name %></span>
                    <span class="fontColor5">认证商铺</span>
                  </span>
                </span>
                <span class="price">￥<%= product.price %></span>
                <b>已售: 0 件 | <a target="_blank" href="index.php?app=goods&amp;act=comments&amp;id=18725">0 评论</a></b>
              </h3>
            </li>
            <% end %>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
      <div class="shop_list_page">
        <%= will_paginate @products %>
      </div>
    </div>

</div>
